// Regular
@font-face {
    font-family: 'Roboto Regular';
    src: url("../fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

// Bold
@font-face {
    font-family: 'Roboto Bold';
    src: url("../fonts/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

// Black
@font-face {
    font-family: 'Roboto Black';
    src: url("../fonts/Roboto-Black.ttf");
    font-style: normal;
    font-weight: normal;
}

// Thin
@font-face {
    font-family: 'Roboto Thin';
    src: url("../fonts/Roboto-Thin.ttf");
    font-style: normal;
    font-weight: normal;
}