
$white : #fff;
$bullet-black : #36413e;
$forest-green : #72a276;
$indian-red : #dd5560;

// Font family
$font-regular: 'Roboto Regular';
$font-bold: 'Roboto Bold';
$font-black: 'Roboto Black';
$font-thin:'Roboto Thin';

// Font size
$font-small : 10px;
$font-big: 20px;
$font-large: 30px;

$accordion-icon-color:white;
