.App {
  text-align: center;
}

<<<<<<< HEAD
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

=======
>>>>>>> eb5e17876d2c860eab0797549c6b836a48103dc2
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

<<<<<<< HEAD
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
=======
>>>>>>> eb5e17876d2c860eab0797549c6b836a48103dc2
